<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SolarSG Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div data-th-replace="~{fragments/header}"></div>
    <hr>

    <div class="container d-none d-sm-block">
        <div class="row">
            <div class="col">
                <div class="card text-bg-dark position-relative" >
                    <img data-th-src="@{${'/images/PV_System_Image1_stretched.jpg'}}" class="card-img" alt="Image of Solar PV System" style="min-height: 300px;min-width: 600px;">
                    <div class="card-img-overlay position-absolute top-50 start-50 translate-middle">
                        <h1 class="card-title text-center" style="font-size: clamp(2rem, 3vw, 5rem);">Welcome to SolarSG</h1>
                        <br>
                        <h1 class="card-title text-center" style="font-size: clamp(1rem, 2vw, 2rem);">For Singaporeans Interested in Installing Solar PV</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-block d-sm-none">
        <div class="row">
            <div class="col">
            <h1 class="text-center" style="font-size: 3rem;">Welcome to SolarSG</h1>
            <br>
            <h3 class="text-center">For Singaporeans Interested in Installing Solar PV</h3>
            </div>
        </div>
        <hr>
    </div>
    <br>
    <div class="container my-5">
        <div class="row">
            <div class="col d-flex justify-content-between">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Buyer's Guide for Solar PV</h5>
                      <h6 class="card-subtitle mb-2 text-muted">For Singaporeans interested in yet still unsure about Solar PV</h6>
                      <p class="card-text">Through the Buyer's guide, not only will you know if you should get Solar PV, but also know what details to look out for when you do.</p>
                      
                    </div>
                    <div class="card-footer">
                        <a data-th-href="@{/guide}" class="card-link btn btn-primary">Go to Buyer's Guide</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Detailed Topics</h5>
                      <h6 class="card-subtitle mb-2 text-muted">In Depth Dive through Solar PV Topics</h6>
                      <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <a data-th-href="@{/topics}" class="card-link btn btn-primary">Go to List of Topics</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Quote Request</h5>
                      <h6 class="card-subtitle mb-2 text-muted"></h6>
                      <p class="card-text">Request for a quote via our quote request service. Use it either as practice before going to a contractor, or allow us to contact known contractors for you.</p>
                    </div>
                    <div class="card-footer">
                        <a data-th-href="@{/topics}" class="card-link btn btn-primary">Go to Quote Request</a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>

    <div data-th-replace="~{fragments/footer}"></div>
</body>
</html>